.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}
body{
  background-color: black;
}
.container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navigation .nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
}

.container .navigation .nav .nav-li, .container .navigation .nav .logo {
  margin: 0 50px 0 50px;
}
.nav-li, .logo{
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif
}
.logo{
  margin-left: 30px;
}
.container .navigation .nav .nav-li:hover, .container .navigation .nav .logo:hover {
  color: #5252d3;
}

.first-block {
  background-color: rgb(11, 11, 11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.first-block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background: rgba(166, 255, 236, 0.149);
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.first-block .wrapper .left-block, .first-block .wrapper .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-block .wrapper .left-block .header, .first-block .wrapper .right-block .header {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif
}

.first-block .wrapper .left-block .text, .first-block .wrapper .right-block .text {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif
}
.header1{
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif
}
.text1{
  color: white;
  font-size: 30px;
  text-align: center;
  width: 600px;
  padding-top: 20px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif
}
.first-block .wrapper .left-block .text:hover, .first-block .wrapper .right-block .text:hover {
  color: #ffffff;
}
.right-block{
  background-image: url(../img/Orhan-Ozturk-Turkey.gif);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.left-block{
  background-image: url(../img/Uluslararasi-Karikatur-Yarismasi-Odul-Toreni-Muglada-Duzenlenecek.webp);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.second-block .bg-img {
  background-image: url(../img/cover.webp);
  max-width: 1000px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.second-block .bg-img .img-text {
  text-align: center;
}

.second-block .bg-img .img-text .header {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
}

.second-block .bg-img .img-text .text {
  color: white;
  font-size: 14px;
  text-align: center;
  width: 400px;
}

.end-footer {
  height: 100px;
  background-color: #6b6b6b44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.end-footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.end-footer .list .fm-t, .end-footer .list .fm-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 0 50px;
  font-family:Arial, Helvetica, sans-serif
}

.end-footer .list .fm-t:hover, .end-footer .list .fm-logo:hover {
  color: #5252d3;
  cursor: pointer;
  
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 700px) {
  .container .navigation, .container .nav-li, .container .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .container .navigation .logo, .container .nav-li .logo, .container .nav .logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .first-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .first-block .wrapper {
    background-color: #5c5963;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 500px;
    height: 700px;
  }
  .first-block .wrapper .left-block, .first-block .wrapper .right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #c0a0a022;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .end-footer .list, .end-footer .fm-t, .end-footer .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .end-footer .list .fm-logo, .end-footer .fm-t .fm-logo, .end-footer .nav .fm-logo {
    display: none;
  }
}
/*# sourceMappingURL=globa.css.map */