@media (max-width: 700px) {
    .container{
        .navigation, .nav-li , .nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo{
                display: none;
            }
            margin: auto;
        }
    }
   
}
@media (max-width: 500px){
    .first-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        .wrapper{
            background-color:rgb(92, 89, 99);
            flex-wrap: wrap;
            margin: 0 auto;
            width: 500px;
            height: 700px;
            .left-block, .right-block{
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                background-color: rgb(10, 10, 10);
                flex-direction: column;
            }
            // .right-block{
            //     display: none;
            // }
        }
    }
}
@media (max-width: 700px) {
    .end-footer{
        .list, .fm-t , .nav{
            flex-direction: column;
            .fm-logo{
                display: none;
            }
            margin: auto;
        }
    }
   
}